<html>
<style>
#labored{
  filter: brightness(.8);
}
#lioness {
  filter: hue-rotate(67deg);
}
#lion-and-mouse{
  filter: grayscale(85%);
}
#fate{
  filter: invert(100%);
}
#please-all{
  filter:invert(70%);
}
.book:hover{
  background-image:url("https://codehs.com/uploads/1e3e568d08c13753ff07d51815ee6192");
  animation: open-book 3s background;
  }
@keyframe open-book{
  from{
    height:200px;
    width:100px;
  
  }
  to(
 height:400px;
  width:100px;)
}
/* Styles you don't need to worry about */
.book{
    position:relative;
    background-size:100% 100%;
    height:200px;
    width:100px;
    background-image:url("https://codehs.com/uploads/5628239cdcacac83db59e6457ff542bb");
}
.text{
    position: fixed;
    text-align:left;
    visibility:hidden; /* hide the text for now */
    font-size:16px;
}

.bookcase{
    border: 20px solid brown;
    padding: 50px 20px;
    width:90%;
    text-align:center;
    position:fixed;
}

ul{
    list-style-type:none; /* remove bullets */
}

li{
    display:inline-flex; /* force list items to be in one line */
			 
}
body{
    background-color: tan;
}
